body{
    margin: 0;
}
#me{
    top:0;
    list-style-type: none;
    margin: 0;
    background-color: black;
    overflow: hidden;
    padding: 0;
}
#me li{
    float: left;
}
#me li a{
    color: white;
    display: block;
    text-decoration: none;
    text-align: center;
    padding: 10px;
}
#me li span{
    color: white;
    display: block;
    text-align: center;
    padding: 10px;
}